*.pdb
*.ilk
*.tlog
*.log
*.obj
*.pch
*.idb
*.suo
*.VC.db
*.ipch
*.vcxproj.user
*.exe
x64\Debug\avcodec-58.dll
x64\Debug\avdevice-58.dll
x64\Debug\avfilter-7.dll
x64\Debug\avformat-58.dll
x64\Debug\avutil-56.dll
x64\Debug\postproc-55.dll
x64\Debug\swresample-3.dll
x64\Debug\swscale-5.dll
x64\Release\avcodec-58.dll
x64\Release\avdevice-58.dll
x64\Release\avfilter-7.dll
x64\Release\avformat-58.dll
x64\Release\avutil-56.dll
x64\Release\postproc-55.dll
x64\Release\swresample-3.dll
x64\Release\swscale-5.dll
/FFVideoPlayer/*.user
/FFVideoPlayer/GeneratedFiles/Debug/moc_AboutDlg.cpp
/FFVideoPlayer/GeneratedFiles/Debug/moc_FFVideoPlayer.cpp
/FFVideoPlayer/GeneratedFiles/Debug/moc_MySlider.cpp
/FFVideoPlayer/GeneratedFiles/Debug/moc_NetStreamDlg.cpp
/FFVideoPlayer/GeneratedFiles/Debug/moc_NetStreamThread.cpp
/FFVideoPlayer/GeneratedFiles/Debug/moc_VideoWidget.cpp
/FFVideoPlayer/GeneratedFiles/qrc_FFVideoPlayer.cpp
/FFVideoPlayer/GeneratedFiles/ui_AboutDlg.h
/FFVideoPlayer/GeneratedFiles/ui_FFVideoPlayer.h
/FFVideoPlayer/GeneratedFiles/ui_NetStreamDlg.h
/FFVideoPlayer/GeneratedFiles/ui_StreamInfoDlg.h
